{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Task Manager</title>
    <link rel="stylesheet" href="{% static 'tasks/style.css' %}">
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
</head>
<body>
    <header class="navbar">
        <div class="nav-container">
            <div class="logo"><a href="{% url 'dashboard' %}">TaskManager</a></div>
                <nav class="nav-links">
                    {% if user.is_authenticated %}
                        <span>Hello, {{ user.username }}</span>
                        <a href="{% url 'dashboard' %}">Dashboard</a>
                        <a href="{% url 'task_create' %}">New Task</a>
                        <a href="{% url 'task_statistics' %}">Statistics</a>

                        {% if user.role == 'admin' %}
                            <a href="{% url 'users_list' %}">Users</a>
                        {% elif user.role == 'manager' %}
                            <a href="{% url 'users_list' %}">Users</a>
                        {% endif %}

                        <a href="{% url 'logout' %}">Logout</a>
                    {% else %}
                        <a href="{% url 'login' %}">Login</a>
                        <a href="{% url 'register' %}">Registration</a>
                    {% endif %}
                </nav>
        </div>
    </header>

    <main class="main-content">
        {% if messages %}
            <ul class="messages">
                {% for message in messages %}
                    <li>{{ message }}</li>
                {% endfor %}
            </ul>
        {% endif %}
        {% block content %}{% endblock %}
    </main>
</body>
</html>
