{% extends 'tasks/base.html' %}
{% block content %}
<h2>Groups</h2>
<a href="{% url 'group_create' %}" class="btn btn-primary">+ Create Group</a>

{% if groups %}
    <ul>
    {% for group in groups %}
        <li><strong>{{ group.name }}</strong>: 
            {% for member in group.members.all %}
                {{ member.username }}{% if not forloop.last %}, {% endif %}
            {% endfor %}
        </li>
    {% endfor %}
    </ul>
{% else %}
    <p>No groups yet.</p>
{% endif %}
{% endblock %}
