{% extends 'tasks/base.html' %}

{% block content %}
<h2>Create a task</h2>
<form method="post" enctype="multipart/form-data">
    {% csrf_token %}

    <label>Title</label>
    {{ form.title }}

    <label>Description</label>
    {{ form.description }}

    <label>Deadline</label>
    {{ form.deadline }}

    <label>Assign to</label>
    {{ form.assigned_to }}

    <label>Priority</label>
    {{ form.priority }}

    <label>Status</label>
    {{ form.status }}

    <label>Attachment</label>
    {{ form.attachment }}

    <button type="submit">Create</button>
</form>
{% endblock %}
