{% extends 'tasks/base.html' %}

{% block content %}
<div class="fade-in">
    <h2>Edit Task</h2>
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}

        {% if user.role == 'worker' %}
            <label>Status</label>
            {{ form.status }}
        {% else %}
            <label>Title</label>
            {{ form.title }}

            <label>Description</label>
            {{ form.description }}

            <label>Deadline</label>
            {{ form.deadline }}

            <label>Assign to user</label>
            {{ form.assigned_to }}

            <label>Priority</label>
            {{ form.priority }}

            <label>Status</label>
            {{ form.status }}

            <label>Attachment</label>
            {{ form.attachment }}
        {% endif %}

        <button type="submit">Save</button>
    </form>
</div>
{% endblock %}


