{% extends 'tasks/base.html' %}
{% block content %}

<h2 class="page-title">Create Task</h2>

<form method="post" enctype="multipart/form-data">
    {% csrf_token %}

    <label>Title</label>
    {{ form.title }}

    <label>Description</label>
    {{ form.description }}

    <label>Deadline</label>
    {{ form.deadline }}

    <label>Assign to user</label>
    {{ form.assigned_to }}

    <label>Or assign to group</label>
    <select name="group">
        <option value="">---------</option>
        {% for group in groups %}
            <option value="{{ group.id }}">{{ group.name }}</option>
        {% endfor %}
    </select>

    <label>Priority</label>
    {{ form.priority }}

    <label>Status</label>
    {{ form.status }}

    <label>Attachment</label>
    {{ form.attachment }}

    <button type="submit">Create</button>
</form>

{% endblock %}
